@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #555;
    --color-border: #222;
    --color-primary: #333;
    --color-font: white;
    --color-font-light: #333;
    --color-home: #b33;
    --color-orders: #37823a;
    --color-products: #3a8eeb;
    --color-components: #8a3ffc;
    --color-rules: #7b5b3a;

    color: var(--color-font);
  }
}
