@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #555;
    --color-border: #222;
    --color-primary: #333;
    --color-font: rgb(225, 225, 225);
    --color-font-light: #333;
    --color-home: #b33;
    --color-orders: #519a2f;
    --color-products: #3a8eeb;
    --color-components: #6448ff;
    --color-rules: #7b5b3a;

    color: var(--color-font);
  }
}
