@import 'tailwindcss';
@import './lightTheme.css';
@import './darkTheme.css';
@import './titleBar.css';
/* TODO: ADD a nice font */

@theme inline {
  --color-background: var(--color-background);
  --color-border: var(--color-border);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-success: var(--color-success);
  --color-font: var(--color-font);
  --color-gray: var(--color-gray);
  --color-font-inverted: var(--color-font-inverted);
  --color-btn: var(--color-btn);
  --default-font-family: var(--font-serif);
  /* --default-font-family: montserrat; */

  /* PAGE SPECIFIC ACCENT COLORS */
  --color-home: var(--color-home);
  --color-orders: var(--color-orders);
  --color-products: var(--color-products);
  --color-components: var(--color-components);
  --color-rules: var(--color-rules);
}

body,
html {
  @apply bg-background;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-2xl;
}

.hover {
  @apply hover:brightness-95 active:brightness-90;
}
