@import 'tailwindcss';
@import './lightTheme.css';
@import './darkTheme.css';
@import './titleBar.css';
/* TODO: ADD a nice font */

@theme inline {
  --color-background: var(--color-background);
  --color-border: var(--color-border);
  --color-primary: var(--color-primary);
  --color-font: var(--color-font);
  --color-font-light: var(--color-font-light);
  --default-font-family: var(--font-serif);

  /* PAGE SPECIFIC ACCENT COLORS */
  --color-home: var(--color-home);
  --color-orders: var(--color-orders);
  --color-products: var(--color-products);
  --color-components: var(--color-components);
  --color-rules: var(--color-rules);
}

body {
  @apply bg-background;
}

h1 {
  @apply text-4xl font-medium text-font font-serif;
}

.hover {
  @apply hover:brightness-95 active:brightness-90;
}
